# Arquivos de ambiente (NUNCA subir)
.env

# Dependências do Node (O GitHub não precisa disso, basta rodar npm install)
node_modules/

# Pasta de uploads (Não queremos subir as fotos dos alunos pro GitHub)
backend/uploads/
uploads/

# Arquivos de log do npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de sistema operacional (Mac/Windows geram lixo oculto)
.DS_Store
Thumbs.db